<InvMon>

	<Settings updatePeriod="1000" allowConversion="true" model="model.xml" />

	<Modules>

		<FakeInverter id="invA" />
		<FakeInverter id="invB" />

		<!-- <ConsoleOutput id="console" controlCodes="false" /> -->

		<!-- <TempHTMLOutput id="htmlout" target="junk\inv.html" /> -->

		<DataLogger id="datalogger" file="data\datalog.db" blockSize="400000" />

		<HTTPServer id="httpserver" port="8083" sourceData="invertergroup1">
			<Page id="main" default="true">
				<Widget id="timeselector" class="timesel" layout="0, 0, 25, 1" />
				<Widget id="pvChart" class="chart" title="PV Power" layout="0, 1, 20, 7" cssClass="pv">
					<Series field="PV_TOTAL_P" subfields="PVA_1_P, PVB_1_P, PVA_2_P, PVB_2_P" axis="y1" />
					<Axis id="y1" min="0" formatter="%d W" />
					<HeaderBit text="Total: [%d]W" fields="PV_TOTAL_P" />
				</Widget>
				<Widget id="pvTable" class="table-pv" title="PV Power" layout="20, 1, 5, 5" fields="PVA_1:Roof,PVB_1:Lawn,PVA_2:Shed" />
				<Widget id="loadChart" class="chart" title="Load" layout="0, 8, 20, 7" cssClass="load">
					<Axis id="y1" min="0" formatter="%d W" />
					<Series field="LOAD_P" subfields="LOAD_1_P, LOAD_2_P" />
					<HeaderBit text="Load: [%d]W ([%.2f]V @ [%.2f]A)" fields="LOAD_P, LOAD_V, LOAD_I" />
					<HeaderBit special="powerfactor" />
				</Widget>
				<Widget id="batteryChart" class="chart" title="Battery" layout="0, 15, 20, 7" cssClass="battery">
					<Axis id="y1" min="0" formatter="%.1f A" />
					<Axis id="y2" min="35" max="65" formatter="%.1f V" />
					<Series field="BATT_I_CHG" />
					<Series field="BATT_I_DIS" />
					<Series field="BATT_V" axis="y2" />
					<HeaderBit text="Battery: [%d]W ([%.2f]V @ [%.2f]A)" fields="BATT_P, BATT_V, BATT_I" />
				</Widget>
				<Widget id="busChart" class="chart" title="Bus/Temps" layout="0, 22, 20, 4" cssClass="temperature">
					<Axis id="y1" min="0" formatter="%.1f C" />
					<Axis id="y2" min="0" formatter="%d V" />
					<Series field="INV_1_TEMP" />
					<Series field="INV_2_TEMP" />
					<Series field="INV_1_BUS_V" axis="y2" />
					<HeaderBit text="Battery: [%d]W ([%.2f]V @ [%.2f]A)" fields="BATT_P, BATT_V, BATT_I" />
				</Widget>
				<Widget id="infobit" class="infobit" layout="0, 26, 20, 2" />
				<Widget id="refresh" class="controls" title="Control" layout="20, 6, 5, 7" />
			</Page>


			<Page id="single" default="false">
				<Widget id="timeselector" class="timesel" layout="0, 0, 25, 1" />
				<Widget id="pvChart" class="chart" title="PV Power" layout="0, 1, 20, 7" cssClass="pv">
					<Series field="PV_TOTAL_P" subfields="PVA_1_P, PVB_1_P" axis="y1" />
					<Axis id="y1" min="0" formatter="%d W" />
					<HeaderBit text="Total: [%d]W" fields="PV_TOTAL_P" />
				</Widget>
				<Widget id="pvTable" class="table-pv" title="PV Power" layout="20, 1, 5, 5" fields="PVA_1,PVB_1" />
				<Widget id="loadChart" class="chart" title="Load" layout="0, 8, 20, 7" cssClass="load">
					<HeaderBit text="Load: [%d]W ([%.2f]V @ [%.2f]A)" fields="LOAD_P, LOAD_V, LOAD_I" />
					<HeaderBit special="powerfactor" />
					<Axis id="y1" min="0" formatter="%d W" />
					<Series field="LOAD_P" />
				</Widget>
				<Widget id="batteryChart" class="chart" title="Battery" layout="0, 15, 20, 7" cssClass="battery">
					<Axis id="y1" min="0" formatter="%.1f A" />
					<Axis id="y2" min="35" max="65" formatter="%.1f V" />
					<Series field="BATT_I_CHG" />
					<Series field="BATT_I_DIS" />
					<Series field="BATT_SOC" min="0" max="100" axis="y2" />
					<HeaderBit text="Battery: [%d]W ([%.2f]V @ [%.2f]A)" fields="BATT_P, BATT_V, BATT_I" />
				</Widget>
				<Widget id="busChart" class="chart" title="Bus/Temps" layout="0, 22, 20, 4" cssClass="temperature">
					<Axis id="y1" min="0" formatter="%.1f C" />
					<Axis id="y2" min="0" formatter="%d V" />
					<Series field="INV_1_TEMP" />
					<Series field="INV_1_BUS_V" axis="y2" />
					<HeaderBit text="Battery: [%d]W ([%.2f]V @ [%.2f]A)" fields="BATT_P, BATT_V, BATT_I" />
				</Widget>
				<Widget id="infobit" class="infobit" layout="0, 26, 20, 2" />
				<Widget id="refresh" class="controls" title="Control" layout="20, 6, 5, 7" />
			</Page>




		</HTTPServer>

		<JSONSend id="sender" destination="localhost" port="28347" key="turnips" user="user1___" logger="datalogger" />
	</Modules>

</InvMon>