<InvMon>

    <Settings updatePeriod="1000" allowConversion="true" inverterCount="2" />

    <Modules>

        <PIP8048MAXParallelGroup id="invertergroup1">
            <FakeInverter id="invA" />
            <FakeInverter id="invB" />
        </PIP8048MAXParallelGroup>
    
        <!-- <ConsoleOutput id="console" controlCodes="false" /> -->  

        <!-- <TempHTMLOutput id="htmlout" target="junk\inv.html" /> -->

        <DataLogger id="datalogger" file="data\datalog.db" blockSize="400000" />

        <HTTPServer id="httpserver" port="8083" sourceData="invertergroup1" />

        <JSONSend id="sender" destination="localhost" port="28347" key="turnips" user="user1___" logger="datalogger" />
    </Modules>

</InvMon>