<InvMon>

	<Settings updatePeriod="1000" allowConversion="true" model="model.xml" />

	<Modules>

		<FakeInverter id="invA" />
		<FakeInverter id="invB" />

		<Properties id="props" source="stuff.xml">
			<Property id="some_key">1234</Property>
		</Properties>


		<SerialRepeater id="serialout1" port="COM8" baud="9600">
			<Field width="3" scale="100.0">BATT_SOC</Field>
			<Property id="props.some_key" width="3" />
			<Field width="3" scale="10.0">BATT_V</Field>
			<Property id="props.thing" width="6" pad="0" />
		</SerialRepeater>
		
		<!-- <ConsoleOutput id="console" controlCodes="false" /> -->

		<!-- <TempHTMLOutput id="htmlout" target="junk\inv.html" /> -->

		<DataLogger id="datalogger" file="data\datalog.db" blockSize="400000" cachedBlocks="4" />

		<HTTPServer id="httpserver" port="8083">
			<Page id="main" default="true" source="mainpage.xml" />
			<Page id="single" default="false" source="singlepage.xml" />
		</HTTPServer>

		<JSONSend id="sender" destination="localhost" port="28347" key="turnips" user="user1___" logger="datalogger" />
	</Modules>

</InvMon>