* {
	font-family: 'Source Code Pro', monospace;
	user-select: none;
}

body {
	background-color: #222;
	background-image: url("background.png");
	background-repeat: repeat;
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
}

h2 {
	margin: 0;
}

h3 {
	margin: 0;
	font-size: 13px;
	font-weight: bold;
	color: rgba(0, 0, 0, 80%);
}

.fill {
	flex: 1 1 0;
}

.horiz {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.mainpage {
	position: relative;
	flex: 1;
}

.gridframeinner>.content {
	flex: 1;
	overflow: hidden;
	padding: 10px;
}

.button, .togglebutton {
	cursor: pointer;
	padding: 5px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	column-gap: 10px;
}

.button.mini {
	padding: 2px;
	font-size: 13px;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin: 1px;
}

.togglebutton.selected {
	background: linear-gradient(0deg, rgba(127, 127, 127, 0.3) 0%, rgba(0, 0, 0, 0.2) 100%);
	padding-top: 7px;
	padding-left: 7px;
	padding-bottom: 3px;
	padding-right: 3px;
	box-shadow: inset 1px 1px 2px 0px black;
}

.togglebutton>img {
	flex: 0;
	width: 24px;
	height: 24px;
	width: 24px;
}

.togglebutton>.content {
	flex: 1;
}

.controlswidget {
	display: flex;
	justify-content: center;
}

.controlswidget .options {
	width: 16px;
	height: 16px;
	background-image: url("cog.png");
	cursor: pointer;
	opacity: 75%;
}

.controlswidget .options:hover {
	cursor: pointer;
	opacity: 100%;
}

.controlswidget #refresh {
	height: 32px;
}

.controlswidget #auto {
	height: 32px;
}

.controlswidget .content {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.timeselector .content {
	padding: 1px;
}

.timeselector .controls .sel, .controls .unsel {
	display: inline-block;
	padding: 4px;
	cursor: pointer;
}

.timeselector .controls .sel {
	display: inline-block;
	padding: 2px;
	border: 2px solid #aaa;
	border-radius: 5px;
	background: #ffffff;
}

.timeselector .divider {
	width: 2px;
	height: 10px;
	background: #00000040;
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
}

.footer {
	min-height: 20px;
	font-size: 75%;
	text-align: right;
	color: #999;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

h1 {
	font-size: 16px;
	font-weight: bold;
	color: #565;
}

.gridframe {
	padding: 5px;
	box-sizing: border-box;
}

.gridframeinner {
	background: #ddd;
	border-radius: 6px;
	box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.41);
	display: flex;
	flex-direction: column;
	margin: 0;
	width: 100%;
	height: 100%;
}

.gridframeinner .hdr {
	background: rgba(0, 0, 0, 0.1);
	margin-top: 0px;
	border-radius: 6px 6px 0px 0px;
	padding: 6px;
	height: 20px;
	display: flex;
}

.gridframeinner .hdr .grp {
	display: inline-block;
}

.gridframeinner .hdr h1 {
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 20px;
}

.gridframeinner .resizehandle {
	width: 24px;
	height: 24px;
	position: absolute;
	right: 0;
	bottom: 0;
	background-image: url("resize.png");
	opacity: 0;
}

.gridframeinner .resizehandle:hover {
	opacity: 1.0;
}

.grp {
	font-size: 12px;
	background-color: rgba(0, 0, 0, 5%);
	padding: 2px;
	margin-right: 8px;
	color: rgba(0, 0, 0, 50%);
}

.grp .b {
	color: #555;
	font-weight: bold;
}

.tiny {
	font-size: 75%;
	font-size: 10px;
	font-weight: bold;
}

.tiny .a {
	width: 90px;
	color: #aaa;
	text-align: right;
	display: inline-block;
	padding-right: 4px;
}

.tiny .b {
	color: #9c9;
	display: inline-block;
}

.chart {
	font-size: 12px;
	font-weight: bold;
}

.chart .background {
	fill: #fff;
	stroke: none;
}

.chart.pv .series1_line {
	stroke: #000000a0;
	fill: none;
	stroke-width: 2px;
}

.chart.pv .series1_fill {
	stroke: none;
	fill: none;
}

.chart.pv .series1_1 {
	stroke: none;
	fill: hsl(50 90% 50%);
}

.chart.pv .series1_2 {
	stroke: none;
	fill: hsl(90 90% 50%);
}

.chart.pv .series1_3 {
	stroke: none;
	fill: hsl(130 90% 50%);
}

.chart.pv .series1_4 {
	stroke: none;
	fill: hsl(170 90% 50%);
}

/* **** */
.chart.load .series1_line {
	stroke: #000000a0;
	fill: none;
	stroke-width: 2px;
}

.chart.load .series1_fill {
	stroke: none;
	fill: #ff9000;
}

.chart.load .series1_1 {
	stroke: none;
	fill: #ff9000;
}

.chart.load .series1_2 {
	stroke: none;
	fill: #dd6000;
}

/* **** */
.chart.battery .series1_line {
	stroke: #000000a0;
	stroke-width: 2px;
	fill: none;
}

.chart.battery .series1_fill {
	fill: hsl(200 90% 50%);
}

.chart.battery .series2_line {
	stroke: #000000a0;
	stroke-width: 2px;
	fill: none;
}

.chart.battery .series2_fill {
	fill: hsl(200 90% 50%);
	fill: hsl(100 90% 50%);
}

.chart.battery .series3_line {
	stroke: #000000;
	stroke-width: 3px;
	fill: none;
}

.chart.battery .series3_fill {
	fill: none;
}

/* **** */
.chart.temperature .series1_line {
	stroke: #7cff00a0;
	fill: none;
	stroke-width: 3px;
}

.chart.temperature .series1_fill {
	stroke: none;
	fill: none;
}

.chart.temperature .series2_line {
	stroke: #ff7c00a0;
	fill: none;
	stroke-width: 3px;
}

.chart.temperature .series2_fill {
	stroke: none;
	fill: none;
}

.chart.temperature .series3_line {
	stroke: #ff009ca0;
	fill: none;
	stroke-width: 3px;
}

.chart.temperature .series3_fill {
	stroke: none;
	fill: none;
}

.graphhover .crosshair {
	stroke: rgba(0, 0, 0, 25%);
	stroke-width: 3px;
	stroke-dasharray: 5;
}

.graphhover .hovertext {
	font-size: 12px;
	pointer-events: none;
	background: rgba(255, 255, 255, 80%);
	padding: 4px;
	border: 1px solid rgba(0, 0, 0, 20%);
	box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.41);
}

.graphhover .hovertext .row {
	display: flex;
}

.graphhover .hovertext .row .k {
	color: #444;
	width: 35px;
	text-align: right;
}

.graphhover .hovertext .row .v {
	font-weight: bold;
}

.graphhover svg, .graphhover .hovertext {
	pointer-events: none;
}

table.data {
	font-size: 12px;
	width: 100%;
}

table.data th {
	background-color: rgba(0, 0, 0, 5%);
}

table.data td, table.data th {
	padding: 2px;
	text-align: center;
}

table.data td {
	color: #888;
}

table.data .b {
	color: #555;
	font-weight: bold;
}

table.data .total td {
	font-weight: bold;
	font-size: 140%;
}

.glass {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 50%);
	transition: background-color 0.05s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.glass img {
	width: 32px;
	height: 32px;
}

.gridframe .error {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(200, 0, 0, 50%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.gridframe .error .message {
	width: 80%;
	background-color: rgba(255, 255, 255, 80%);
	padding: 10px;
}

.errorpopup {
	position: fixed;
	right: 6px;
	bottom: 6px;
	width: 400px;
	display: flex;
	flex-direction: column;
}

.errorpopup>.title {
	font-size: 150%;
	font-weight: bold;
	flex: 0;
}

.errorpopup>.content {
	flex: 1;
	gap: 6px;
	display: flex;
	flex-direction: column;
	overflow: auto;
}

.errorpopup>.content .msg {
	background-color: #ffdddd;
	background-image: url("warning.png");
	background-repeat: no-repeat;
	background-position: 6px center;
	border: 2px solid #ffaaaa;
	font-size: 12px;
	padding: 6px;
	padding-left: 32px;
}

.errorpopup>.content .msg.fadeout {
	transition: opacity 0.5s;
	opacity: 0%;
}

#summary .tiny {
	font-size: 12px;
	margin-top: 6px;
	margin-bottom: 6px;
}

.gauge .reading {
	text-align: center;
}

.gauge .needle {
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .3))
}

.accountwidget {
	font-size: 75%;
}

.popup {
	z-index: 99999;
}

.modalglass {
	backdrop-filter: blur(5px);
	background: rgba(0, 0, 0, 30%);
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99999;
}

.modalglass>.content {
	border: 1px rgba(0, 0, 0, 50%);
	border-radius: 5px;
	box-shadow: 4px 7px 21px 0px rgba(0, 0, 0, 0.75);
	background: #ddd;
	position: relative;
	padding: 16px;
}

.logindialog {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.logindialog .bottombar {
	display: flex;
	flex-direction: row;
}

.logindialog .pair {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

.logindialog .pair>div {
	width: 100px;
}

.logindialog .mask {
	background: rgba(255, 255, 255, 90%);
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -16px;
}

.txt {
	white-space: pre;
	overflow: hidden;
	font-size: 80%;
	user-select: text;
}

.ctrl_sunk {
	height: 100%;
	overflow: auto;
	background: #eee;
	border-top: 1px solid rgba(0, 0, 0, 30%);
	border-left: 1px solid rgba(0, 0, 0, 30%);
	border-right: 1px solid rgba(255, 255, 255, 30%);
	border-bottom: 1px solid rgba(255, 255, 255, 30%);
	padding: 3px;
	margin: 8px;
}

.sysctrlstik .btns {
	display: flex;
	flex-direction: row;
}

.textpopup .outer {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.textpopup .outer .button {
	flex: 0 0 auto;
}

.Menu {
	border: 1px solid black;
	border-radius: 6px;
	padding: 8px;
	gap: 8px;
	display: flex;
	z-index: 99999;
	display: flex;
	flex-direction: column;
	position: absolute;
	background: #ddd;
	box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.41);
}

.MenuItem {
	cursor: pointer;
}

.MenuItem:hover {
	cursor: pointer;
	background: rgba(0, 0, 0, 20%);
}

.sysctrlstik .content {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.boostdialog {
	width: 300px;
	display: flex;
	flex-direction: column;
}

.boostdialog .buttons {
	display: flex;
	flex-direction: column;
	background: rgba(0, 0, 0, 5%);
	border-radius: 5px;
	padding: 8px;
	margin: 4px;
	gap: 2px;
}

.boostdialog .buttons.reset {
	background: rgba(255, 0, 255, 5%);
}

.boostdialog .buttons.cancel {
	background: rgba(255, 0, 0, 5%);
}

.consoledialog {
	width: 75%;
	height: 75%;
	display: flex;
	flex-direction: column;
	font-size: 75%;
}

.consoledialog>.console {
	flex: 1;
	background: #333;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #777;
	border-bottom: 1px solid #777;
	padding: 3px;
	overflow-y: scroll;
}

.consoledialog .console {
	color: #ddd;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.consoledialog .console .result {
	white-space: pre-wrap;
	padding: 3px 0;
}
.consoledialog .console .result.sent {
	color: #8d8;
}
.consoledialog .console .result:hover {
	background-color: rgba(0, 0, 0, 25%);
}

.consoledialog .console .result.error {
	background-color: #955;
	border: 1px solid red;
}

.consoledialog>.topbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 4px;
	font-weight: bold;
}

.consoledialog>.bottom {
	display: flex;
	flex: 0;
}

.consoledialog .bottom .x1 {
	background: #333;
	flex: 0 0 100px;
	align-items: center;
	display: flex;
	padding: 4px;
}

.consoledialog>.bottom .module {
	color: #999;
}

.consoledialog>.bottom input {
	flex: 1;
	color: white;
	background: #333;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #777;
	border-bottom: 1px solid #777;
	padding: 3px;
}

.consoledialog>.topbar>.close {
	opacity: 50%;
	cursor: pointer;
}

.consoledialog>.topbar>.close:hover {
	opacity: 100%;
}

textarea:focus, input:focus {
	outline: none;
}