<InvMon>

    <Settings updatePeriod="1000" />

    <Modules>

        <FakeInverter id="invA" port="/com/ttyUSBe1" rate="2000" type="PIP8048MAX" />

        <ConsoleOutput id="console" />

        <TempHTMLOutput id="htmlout" target="junk\inv.html" />

        <DataLogger id="datalogger" file="junk\datalog.dat" />
    </Modules>

</InvMon>