<InvMon>

    <Settings updatePeriod="1000" allowConversion="true" />

    <Modules>

        <FakeInverter id="invA" port="COM8" rate="2000" type="PIP8048MAX" />
    
        <!-- <ConsoleOutput id="console" controlCodes="false" /> -->

        <!-- <TempHTMLOutput id="htmlout" target="junk\inv.html" /> -->

        <DataLogger id="datalogger" file="junk\datalog.db" blockSize="400000" />

        <!-- <HTTPServer id="httpserver" port="8083" /> -->

        <JSONSend id="sender" destination="localhost" port="28347" key="turnips" user="user1___" logger="datalogger" />
    </Modules>

</InvMon>